$color_white: #fff;
$color_dark_slate_blue: #1e3656;
$color_light_sage: #f1faef;
$color_faded_red: #e43c4b;
$color_gray: #d8d8d8;
$color_dull_blue: #487b9b;
$color_almost_black: #272727;

$color_body: #354052;
$color_caption: #7c7c7c;
$color_header_five: #413d3d;
